
<!-- FOOTER START -->
<footer class="footer">
  <div class="container">
    <div class="widgets-footer clearfix">
      <div id="widgetzone_Footer_Widget" class="widgetzone">

        <!-- RecentComments START-->
        <div class="widget recentcomments">
          <h4 class="widget-header">
            最近的留言
            <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <ul id="recentComments" class="recentComments">
              <li>
                <a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx"
                  class="postTitle">如何讓 Visual Studio 2012 支援 AngularJS 的 Intellisense</a> (7)
                <br>
                <a href="http://blog.miniasp.com/" rel="nofollow">Will 保哥</a> 說: amelie: 這文章是講 Visual Studio 2012
                的，Visual Studio 2...
                <a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx#id_cbe390e9-08ef-4aa9-a6d6-e5f43dc842ee"
                  class="moreLink">[更多...]</a>
              </li>
              <li>
                <a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx"
                  class="postTitle">如何讓 Visual Studio 2012 支援 AngularJS 的 Intellisense</a> (7)
                <br>amelie 說: 你好 我在VS 2010 的資料夾裡，沒有這2個檔案ㄟ commonHTML5Types.b...
                <a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx#id_62c455f4-ff32-49d3-bd44-66ea2cf2a7b8"
                  class="moreLink">[更多...]</a>
              </li>
              <li>
                <a href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx"
                  class="postTitle">購買與安裝 SSL 憑證完全攻略（以 IIS7 為例）</a> (25)
                <br>
                <a href="http://www.miniasp.com/" rel="nofollow">多奇數位Joseph</a> 說: Hi Nat, 憑證申請主要分兩個步驟
                (1)產生CSR並上傳至第三方認證機構的網站 (2)從第三...
                <a href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx#id_0f91957b-880c-489d-b8c1-6364f6f9a8b8"
                  class="moreLink">[更多...]</a>
              </li>
              <li>
                <a href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx"
                  class="postTitle">購買與安裝 SSL 憑證完全攻略（以 IIS7 為例）</a> (25)
                <br>
                <a href="http://www.dotblogs.com.tw/nattu319" rel="nofollow">Nat</a> 說: 保哥,可以請教一下,我目前於國外申請Comodo的Comodo
                Wildcard SSL產品申請下來...
                <a href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx#id_85bd439d-b7fb-4c3d-a266-481d0477ff01"
                  class="moreLink">[更多...]</a>
              </li>
              <li>
                <a href="http://blog.miniasp.com/post/2008/12/22/Useful-tool-LDAP-Browser-Editor.aspx" class="postTitle">介紹好用工具：LDAP
                  Browser/Editor</a> (10)
                <br>
                <a href="http://blog.tenyi.com/" rel="nofollow">鳥毅</a> 說: 我推薦 jxplorer http://jxplorer.org/ ，也是Open
                Source又跨...
                <a href="http://blog.miniasp.com/post/2008/12/22/Useful-tool-LDAP-Browser-Editor.aspx#id_cfc0b7b0-217f-4650-b445-232a2eb9481e"
                  class="moreLink">[更多...]</a>
              </li>
            </ul>
            <a href="http://blog.miniasp.com/syndication.axd?comments=true">Comment RSS
              <img src="/assets/images/rssButton.png" alt="">
            </a>
          </div>
        </div>
        <!-- RecentComments END-->

        <!-- Blogroll START -->
        <div class="widget blogroll">
          <h4 class="widget-header">
            聯播文章
            <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <div id="blogroll">
              <ul class="xoxo">
                <li>
                  <a href="http://weblogs.asp.net/scottgu/rss.aspx">
                    <img src="/assets/images/rssButton.png" alt="RSS feed for ScottGu&#39;s Blog - ScottGu&#39;s Blog"
                      width="12" height="12">
                  </a>
                  <a href="http://weblogs.asp.net/scottgu/" rel="contact">ScottGu's Blog - ScottG...</a>
                  <ul>
                    <li>
                      <a href="http://weblogs.asp.net/scottgu/welcoming-the-xamarin-team-to-microsoft" title="Welcoming the Xamarin team to Microsoft">Welcoming
                        the Xamarin t...</a>
                    </li>
                    <li>
                      <a href="http://weblogs.asp.net/scottgu/azurecon-keynote-announcements-india-regions-gpu-support-iot-suite-container-service-and-security-center"
                        title="AzureCon Keynote Announcements: India Regions, GPU Support, IoT Suite, Container Service, and Security Center">AzureCon
                        Keynote Announ...</a>
                    </li>
                    <li>
                      <a href="http://weblogs.asp.net/scottgu/announcing-general-availability-of-hdinsight-on-linux-new-data-lake-services-and-language"
                        title="Announcing General Availability of HDInsight on Linux + new Data Lake Services and Language">Announcing
                        General Avai...</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="http://weblogs.asp.net/feed/recent-posts.xml">
                    <img src="/assets/images/rssButton.png" alt="RSS feed for ASP.NET Weblogs" width="12" height="12">
                  </a>
                  <a href="http://weblogs.asp.net/">ASP.NET Weblogs</a>
                  <ul>
                    <li>
                      <a href="https://weblogs.asp.net/dixin/parallel-linq-2-partitioning" title="Parallel LINQ (2) Partitioning">Parallel
                        LINQ (2) Parti...</a>
                    </li>
                    <li>
                      <a href="http://weblogs.asp.net/lduveau/ng-conf-in-salt-lake-city" title="ng-conf in Salt Lake City">ng-conf
                        in Salt Lake Ci...</a>
                    </li>
                    <li>
                      <a href="http://weblogs.asp.net/bipinjoshi/utilize-server-sent-events-in-asp-net-mvc" title="Utilize Server Sent Events in ASP.NET MVC">Utilize
                        Server Sent Eve...</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="http://blog.darkthread.net/blogs/darkthreadtw/rss.aspx">
                    <img src="/assets/images/rssButton.png" alt="RSS feed for 黑暗執行緒" width="12" height="12">
                  </a>
                  <a href="http://blog.darkthread.net/">黑暗執行緒</a>
                  <ul>
                    <li>
                      <a href="http://blog.darkthread.net/post-2016-05-02-2016-shiding-marathron.aspx" title="2016石碇馬">2016石碇馬</a>
                    </li>
                    <li>
                      <a href="http://blog.darkthread.net/post-2016-04-30-nuget-package-web-config-install.aspx" title="安裝NuGet Package時在web.config加入設定">安裝NuGet
                        Package時在web.co...</a>
                    </li>
                    <li>
                      <a href="http://blog.darkthread.net/post-2016-04-28-nuget-packager.aspx" title="從Visual Studio發佈NuGet Package的好幫手－NuGet Packager">從Visual
                        Studio發佈NuGet P...</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <a href="http://blog.miniasp.com/opml.axd" style="display: block; text-align: right" title="Download OPML file">Download
              OPML file
              <img src="/assets/images/opml.png" width="12" height="12" alt="OPML">
            </a>
          </div>
        </div>
        <!-- Blogroll END -->

        <!-- Newsletter START -->
        <div class="widget newsletter">
          <h4 class="widget-header">
            訂閱文章通知
            <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <div id="newsletterform">
              <p>有新文章發表時通知我</p>

              <label for="ctl00_widgetContainer5ff66f9418254026b102e733e4fa8a88_5ff66f9418254026b102e733e4fa8a88_txtEmail"
                style="font-weight:bold">Enter your e-mail</label>
              <br>
              <input name="ctl00$widgetContainer5ff66f9418254026b102e733e4fa8a88$5ff66f9418254026b102e733e4fa8a88$txtEmail"
                type="text" id="ctl00_widgetContainer5ff66f9418254026b102e733e4fa8a88_5ff66f9418254026b102e733e4fa8a88_txtEmail"
                class="form-control" style="width:98%;">

              <div style="text-align:center">
                <input type="submit" name="ctl00$widgetContainer5ff66f9418254026b102e733e4fa8a88$5ff66f9418254026b102e733e4fa8a88$btnSave"
                  value="Notify me" id="ctl00_widgetContainer5ff66f9418254026b102e733e4fa8a88_5ff66f9418254026b102e733e4fa8a88_btnSave"
                  class="btn btn-primary">
              </div>
            </div>

            <div id="newsletterthanks" style="display:none;text-align:center">
              <br>
              <br>
              <h2 id="newsletteraction">Thank you</h2>
              <br>
              <br>
            </div>
          </div>
        </div>
        <!-- Newsletter END -->

      </div>
    </div>
  </div>
  <div class="end-line text-center">
    <p class="text-muted credit">
      Copyright © 2016 by
      <a href="https://www.facebook.com/will.fans" target="_blank">Will 保哥</a>
      @
      <a href="http://www.miniasp.com/" target="_blank">多奇數位創意有限公司</a> - Powered by
      <a href="http://dotnetblogengine.net/" target="_blank">BlogEngine.NET</a> 3.2.0.3 - Design by
      <a href="http://seyfolahi.net/" target="_blank" title="Farzin Seyfolahi - UI/UX Designer at BlogEngine.NET">FS</a>
    </p>
  </div>
</footer>
<!-- Footer END -->
